*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
#message{
    position: fixed;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hide{
    visibility: hidden;
}
.show{
    visibility:visible;
    background-color: beige;
    color: black;
    width: 15vw;
    height: 5vh;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:visible;
    font-size: 10px;
    gap: 10px;

}
.container{
    width: 40vw;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid black;
    background-color: bisque;
}
button{
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid black;
}