*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: darkgray;
}
.nav div{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav div a {
    text-decoration: none;
}

.nav div a h3 {
    color: rgb(56, 31, 31);
}